

<div class="wrapper-calendar">
  <div class="container-calendar">

    <h1>Your Meal Plan</h1>
    <div class="add-recipe-container">

      <div>
        <p id="notice"><%= notice %></p>


        <h4>All our recipes:</h4>
        <div class="recipes-selection">
          <% @recipes.each do |recipe| %>
          <div id="my-draggable">
            <p>
              <%= recipe.name %>
            </p>
          </div>
          <% end %>
        </div>

      </div>

      <div class="container-monthly-calendar">
        <div>

            <div id="calendar">

            </div>

              <div>

              </div>

        </div>

      </div>

    </div>


  </div>
</div>












