.simple-calendar {
  .day {
    border-right: 1px solid lightgrey;
  }

  .wday-0 {
    height: 200px;
    background-color: $main-color;
  }
  .wday-1 {
    height: 200px;
    background-color: $main-color;
  }
  .wday-2 {
    height: 200px;
    background-color: $main-color;
  }
  .wday-3 {
    height: 200px;
    background-color: $main-color;
  }
  .wday-4 {
    height: 200px;
    background-color: $main-color;
  }
  .wday-5 {
    height: 200px;
    background-color: $main-color;
  }
  .wday-6 {
    height: 200px;
    background-color: $main-color;
  }

  .today {
    opacity: 0.8;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
