<div class="footer">
  <div class="footer-links">
<!--     <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
  </div>
  <div class="footer-copyright">
    <%= link_to "about us", "#" %>
    <p class="blank"> | </p>
    <%= link_to "terms and conditions", "#" %>
    <p class="blank"> | </p>
    <%= link_to "support", "#" %>
    <p class="blank"> | </p>
    <%= link_to "© 2018 Recipes4Fitness GmbH", "#" %>
  </div>
</div>

